<footer class="fixed-bottom">
	<div class="row justify-content-center">
		<div class="col-md-10 text-center">
			<sub><a href="https://github.com/wolfmlopes/URL-Shortener-Microservice">GitHub</a></sub>
		</div>
	</div>
</footer>
</div>
</body>
</html>